[submodule "Source/conviva-ios-integration-refkit"]
	path = Source/conviva-ios-integration-refkit
	url = https://github.com/Conviva/conviva-ios-integration-refkit
	branch = master
[submodule "Source/conviva-react-native-refapp"]
	path = Source/conviva-react-native-refapp
	url = https://github.com/Conviva/conviva-react-native-refapp
